html {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
}


ul {
    list-style-type: none;

}

ul li {
    display: inline-block;
}

#magnify {
    height: 20px;
    width: 20px;
}

#microphone {
    height: 24px;
}
